body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    margin: 10px auto;
}

.container-1{
        width: 80%;
        margin: 0 auto;
}

header {
    background-color: #131842;
    color: #d8c9c9;
    padding: 20px 0;
    
}

header h1 {
    border-radius: 50px 50px 50px 50px;
    background-color: #E68369;
    font-size: 42px; /* Increased font size for emphasis */
    font-family: 'Georgia', serif; /* Change to a more formal and elegant font */
    font-weight: bold; /* Make the text bold */
    color: #b1b8c5; /* Use a strong color to make the name stand out */
    text-align: center; /* Align text to the left */
    letter-spacing: 1.0px; /* Slightly increased letter spacing for better readability */
    margin: 0px 20px; /* Remove default margin for better control */
    text-transform: uppercase; /* Make all letters uppercase for strong impact */
    flex-wrap: wrap;
    padding: 10px 20px;
    margin: auto;
    display: inline-block;
}

nav ul {
    list-style-type:armenian;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:end;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #E68369;
    text-decoration: none;
    padding: 5px 10px;
    font-family: cursive;
}

.hero {
    background-image: url('2.jpg');
    color: #530606 salmon;
    padding: 100px 0;
    text-align:end;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height:400px;
    

}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
}

.cta-button {
    background-color: #0044cc;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 10px 10px;
}

.container-2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.services {
    padding: 100px 0;
    background-color: #ECCEAE;
    text-align: justify;

}

.service-item {
    background-color: #E68369;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(83, 29, 155, 0.1);
    max-width: 300px;
    flex: 1;
    margin-bottom: 30px;
    text-align: left;
}

.service-item h4 {
    font-size: 24px;
    margin-bottom: 10px;
}
.service-item p {
    font-size: 16px;
    color: #333333;
}

h3 {
    text-align: center;
    font-size: 32px;
    color: #530606;
    margin-top: 90px;
}

.testimonials {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.testimonial p {
    font-size: 18px;
}

footer {
    background-color: #131842;
    color: #d8c9c9;
    padding: 20px 0;
    text-align: center;
}